body {
  color: white;
  background-color: black;
  margin-top: 40px;
}
@media (max-width: 376px) {
  body {
    margin: 0;
  }
}
/* Reset */
h1,
h2,
h3,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: Dancing Script;
  font-size: 30px;
  -webkit-text-stroke: 1px rgb(250, 0, 229);
  transition: -webkit-text-stroke 3s;
  transition-duration: 250ms;
}
@media screen and (max-width: 1157px) and (min-width: 320px) {
  a {
    font-size: 20px;
  }
}
a:hover {
  -webkit-text-stroke: transparent;
}

/* Reset */
.container {
  min-width: 320px;
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1157px) {
  .container {
    max-width: 1157px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header {
  background-color: #6628ec7c;
  border-radius: 20px;
}

@media (max-width: 376px) {
  .header {
    background-color: transparent;
  }
}
.navigaton {
  padding: 12px 24px 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 376px) {
  .navigaton {
    display: none;
  }
}
@media screen and (max-width: 1157px) and (min-width: 320px) {
  .nav-link {
    font-size: 15px;
  }
}
.logo-link {
  width: 40px;
  height: 40px;

  transition-duration: 0.5s;
}
.logo-link:hover {
  stroke: hotpink;
  transform: scale(1.6);
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1157px) and (min-width: 320px) {
  .list {
    justify-content: center;
  }
}
.item-link {
  position: relative;
  list-style: none;
  margin-right: 25px;
}

.item-link:hover::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 10px;
}
.fals-button {
  display: flex;
  justify-content: center;

  margin-left: 70px;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 40px;
  background: #8259dc;
  border-radius: 10px;
}

.svg-contact {
  margin-left: 15px;
  fill: #fff;
  width: 20px;
  height: 20px;
}

.section-home {
  border: 1px solid #7b4ae280;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

@media screen and (max-width: 1157px) and (min-width: 320px) {
  .section-home {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
}

@media (max-width: 376px) {
  .section-home {
    margin-top: 0;
  }
}
@media screen and (max-width: 1157px) and (min-width: 320px) {
  .info-portfolio {
    margin-right: 0;
    text-align: center;
  }
}
.title {
  color: #7b4ae2;
  margin-bottom: 21px;
  font-size: 25px;
  -webkit-text-stroke: 3px transparent;
  transition: -webkit-text-stroke 5s;
}
.title:hover {
  -webkit-text-stroke: rgb(227, 54, 212);
}

.name {
  margin-bottom: 16px;
  font-size: 52px;
}
.pozition {
  color: #ffffff80;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
}
.svg-contact {
  width: 32px;
  height: 32px;
}

.wrapper {
  margin-right: 143px;
}
.images {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
@media screen and (max-width: 1157px) and (min-width: 320px) {
  .images {
    width: 200px;
    height: 200px;
    margin: 20px 0 20px 130px;
  }
}
.item-contact {
  margin-bottom: 15px;
  list-style: none;
}
.section {
  margin-top: 100px;
}

.section-expir {
  border: 1px solid #7b4ae280;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.wrapp {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
@media (max-width: 376px) {
  .wrapp {
    display: block;
  }
}
.bloc {
  text-align: center;
  margin-right: 80px;
  width: 298px;
  height: 200px;
  border: 1px solid #7b4ae233;
  border-radius: 16px;
}
@media screen and (max-width: 1157px) and (min-width: 320px) {
  .bloc {
    width: 180px;
    margin-right: 40px;
  }
}
@media (max-width: 376px) {
  .bloc {
    width: 180px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.bloc:last-child {
  margin-right: 0;
}
.svg {
  text-align: center;
  min-width: 100px;
  height: 100px;
}
@media screen and (max-width: 1157px) and (min-width: 320px) {
  .svg {
    width: 100px;
  }
}
.thumb {
  background-color: #7b4ae21a;
  max-width: 898px;
  height: 110px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1157px) and (min-width: 320px) {
  .thumb {
    width: 100%;
  }
}
.text-info {
  font-size: 32px;
}
.thumb-div {
  padding: 20px;
  margin-right: 50px;
}
@media screen and (max-width: 1157px) and (min-width: 320px) {
  .thumb-div {
    padding: 0;
    margin-top: 26px;
    margin-right: 36px;
  }
}
@media (max-width: 376px) {
  .thumb-div {
    margin-top: 30px;
    text-align: center;
    margin-right: 10px;
  }
}
.thumb-div:last-child {
  margin-right: 0;
}
.thumb-title {
  font-size: 32px;
  color: #7b4ae2;
}
@media screen and (max-width: 1157px) and (min-width: 320px) {
  .thumb-title {
    font-size: 25px;
  }
}
@media (max-width: 376px) {
  .thumb-title {
    font-size: 15px;
  }
}

.thumb-text {
  text-align: center;
  color: #7b4ae2;
}
.foto {
  width: 280px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
  transition-duration: 250ms;
}
.foto:hover {
  transform: scale(1.5);
}
@media (max-width: 376px) {
  .foto {
    width: 250px;
  }
}
.foto-1 {
  margin-bottom: 20px;
  width: 300px;
  height: 200px;
  object-fit: contain;
}
@media (max-width: 376px) {
  .foto-1 {
    width: 250px;
  }
}
.foto-1:hover {
  transition-duration: 250ms;
  transform: scale(1.5);
}

.section-portfolio {
  padding: 20px;
  margin-top: 100px;
  border: 1px solid #7b4ae280;
}
.portfolio-title {
  color: #7b4ae2;
  font-size: 37px;
  text-align: center;
  margin-bottom: 25px;
  font-family: Nosifer;
}
.list-portfolio {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 440px);
  gap: 40px;
  justify-content: center;
}

@media screen and (max-width: 1157px) and (min-width: 320px) {
  .list-portfolio {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(2, 440px);
  }
}
@media (max-width: 376px) {
  .list-portfolio {
    grid-template-columns: repeat(1, 280px);
    grid-template-rows: repeat(2, 440px);
  }
}
.wrap-portfolio {
  border: 1px solid #7b4ae233;
  border-radius: 16px;
  width: 300px;
  height: 440px;
  padding: 10px;
  margin-bottom: 20px;
}

@media (max-width: 376px) {
  .wrap-portfolio {
    width: 280px;
  }
}
.portfolio-description {
  text-align: center;
  font-family: Dancing Script;
  font-size: 20px;
}
.item-portfolio {
  margin-right: 10px;
}
.portfolio-text {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.portfolio-link {
  margin-top: 40x;
  margin-left: 20px;
  font-size: 25px;
  color: blueviolet;
}
@media (max-width: 376px) {
  .portfolio-link {
    margin-top: 0;
    margin-left: 50px;
  }
}
.link-Site {
  font-size: 20px;
}
.skils-text {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.skils-svg {
  background-color: aliceblue;
  width: 100px;
  height: 100px;
  transition-duration: 250ms;
}
.skils-svg:hover {
  transform: skew(30deg);
}
.skils-list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  margin-left: 103px;
}
@media screen and (max-width: 1157px) and (min-width: 320px) {
  .skils-list {
    grid-template-columns: repeat(2, 200px);
  }
}
@media (max-width: 376px) {
  .skils-list {
    grid-template-columns: repeat(2, 115px);
    margin-left: 0;
    margin-right: -26px;
  }
}
.skils-item {
  margin-right: 30px;
  margin-bottom: 20px;
  list-style: none;
}

.section-contact {
  border: 1px solid #7b4ae280;
  margin-top: 100px;
  padding: 40px;
}
.contact-title {
  text-align: center;
  font-size: 37px;
  color: #7b4ae2;
  margin-bottom: 40px;
  font-family: Nosifer;
}

.item-skils {
  list-style: none;
  font-size: 35px;
  font-family: Dancing Script;
}

@media (max-width: 376px) {
  .item-skils {
    font-size: 20px;
  }
}
.contact-wrap {
  display: flex;
}
.contact-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}
.footer {
  padding-bottom: 10px;

  background-color: #6628ec7c;
  border-radius: 5px;
}

.footer-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.svg-footer {
  width: 40px;
  height: 40px;
}

.footer-item {
  position: relative;
  margin-right: 30px;
}
.footer-item:hover::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 10px;
}
